*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

.logo {
  width: 50px !important;
  height: 50px !important;
}

.navbar {
  padding: 0 0 4.5rem;
}

.brand-name {
  padding-left: 0;
}

.brand-name .navbar-brand {
  transition: 250ms;
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: "Merriweather Sans", sans-serif;
}

.brand-name .navbar-brand:hover {
  transition: 250ms;
  color: #284f60;
}

.nav-link {
  color: white;
  font-weight: 400;
}

.nav-link:hover {
  color: #284f60;
}

.dropdown-item {
  color: white;
  text-align: center;
}

.dropdown-menu {
  background-color: #af2322;
  width: fit-content !important;
  height: fit-content !important;
  margin: auto;
}

.navbar-light .custom-toggler {
  border-color: white;
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#title {
  background-color: #af2322;
  color: white;
}

#title h2,
h1 {
  line-height: 1.5;
  color: white;
  font-weight: 400;
}

.container-fluid {
  padding: 1% 15%;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    padding: 0% 3%;
    text-align: center;
  }

  .navbar-brand {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 350px) {
  .container-fluid {
    padding: 0% 1%;
    text-align: center;
  }
  .navbar-brand {
    font-size: 2.5rem !important;
  }
}

.download-buttons {
  margin: 0;
}

.play-store {
  background-color: #284f60;
  color: white;
}

.play-store:hover {
  transition: 250ms;
  color: #af2322;
  background-color: white;
  border-color: white;
}

.title-cap {
  font-size: small !important;
}

.title-img {
  display: block;
  margin: auto;
  margin-left: 30%;
  width: 75%;
  transition: 250ms;
}

/* .soldier img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comments {
  padding: 8% 15% !important;
}

.comment {
  text-align: center;
  width: 75%;
}

.comment i {
  font-size: medium;
} */
/* 
#press {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#press img {
  width: 80%;
} */

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 150px;
}

#carouselId {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .carousel-item img {
    transition: 250ms;
    width: 150px;
    height: 75px;
  }
  .title-img {
    transition: 250ms;
    transform: rotateY(180deg);
    margin-left: 5%;
  }
}

@media screen and (max-width: 1028px) and (min-width: 750px) {
  .title-img {
    margin-top: 20%;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(240, 108, 91)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(240, 108, 91)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-indicators li {
  background-color: rgb(240, 108, 91);
}
.carousel .carousel-indicators li.active {
  background-color: #284f60;
}

.partners {
  background-color: white;
}

.partners h1 {
  color: #af2322;
  text-align: center;
  font-weight: 500;
}

.partners .hepsiburada img {
  width: 300px;
}

.partners .trendyol img {
  width: 33%;
}

.partners .yemeksepeti img {
  width: 50%;
}

.partners .aliexpress img {
  width: 50%;
}

#pricing {
  color: white;
  background-color: #af2322;
  padding-top: 2%;
  padding-bottom: 2%;
}

#pricing p {
  color: white !important;
}

#pricing button {
  color: white;
  background-color: #af2322;
}

#pricing button:hover {
  color: #af2322;
  background-color: white;
}

#pricing .card {
  background-color: #284f60;
  border: none;
}

#pricing small {
  color: #af2322 !important;
}

.card-header {
  background-color: white;
  color: #af2322;
}

#what-we-do {
  background-color: white;
  color: #af2322;
  text-align: left;
  padding-top: 4%;
  padding-bottom: 7%;
}

#what-we-do h1 {
  color: #af2322;
}

#what-we-do p {
  color: #8f8f8f;
}

hr {
  color: #af2322;
  border: 3px solid;
  border-top: none;
}

#social-media {
  background-color: #af2322;
}

.social-media {
  background-color: #af2322;
  color: white;
  padding-top: 5%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.copyright {
  background-color: #af2322;
  color: white;
  text-align: center;
  padding-bottom: 2%;
}

#message {
  padding-top: 5%;
  background-color: #af2322;
}

.map {
  background-color: #af2322;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-h1 {
  color: white;
  text-align: center;
}

iframe {
  width: 720px;
  height: 520px;
}

@media screen and (max-width:640px) {
  iframe {
    width: 320px;
    height: 400px;
  }
}

.where-are-we-h3 {
  color: #af2322;
  text-align: left;
  padding-top: 5%;
}

.where-are-we {
  color: #af2322;
  padding-top: 5%;
  padding-bottom: 5%;
}

.where-are-we ul {
  color: #af2322;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0%;
  gap: 5%;
  list-style-type: none;
}

@media screen and (max-width:600px) {
  .where-are-we ul {
    justify-content: center;
  }
  .where-are-we-h3 {
    text-align: center;
  }
}

.how-to {
  color: #af2322;
}

.how-to h1 {
  color: #af2322;
}

.how-to i {
  color: #8f8f8f;
}

.how-to p {
  color: #8f8f8f;
}